<div class="body">
  <div class="container form-container">

    <h1>Edit <%= resource_name.to_s.humanize %></h1>

    <div class="form">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :username, label: 'Change your username', required: true, autofocus: true %>
          <%= f.input :email, label: 'Change your email', required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :password, label: 'Change your password',
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation, label: 'Confirm your new password',
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :avatar, label: 'Change your profile picture',
                      as: :file %>
          <%= f.input :current_password, label: 'Enter your current password',
                      hint: "we need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Update personal info", class: "btn-primary" %>
        </div>
    <% end %>

    <div class="delete-button">
        <%= link_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
    </div>

  </div>
</div>
