<div class="body">
  <div class="container form-container">

    <h2>Sign up</h2>

    <div class="form">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

      <div class="form-inputs new-user-form">
        <%= f.input :username,
                    label: 'Enter a username',
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "username" }%>
        <%= f.input :email,
                    label: 'Enter your email address',
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    label: 'Your password',
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    label: 'Confirm your password',
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :avatar, label: "Upload a profile picture",as: :file %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Create your account", class: "btn-primary" %>
      </div>
      <% end %>

    </div>


    <div class="delete-button">
      <%= link_to "Or log in here", new_user_session_path %>
    </div>

  </div>
</div>
