<div class="body">
  <div class="container form-container">

    <h1>Update your toilet</h1>

    <div class="form">
      <%= simple_form_for [@user, @toilet] do |f| %>
        <%= f.error_notification %>
        <%= f.input :name, label: 'Change the name of your toilet' %>
        <%= f.input :address, label: 'Change the address' %>
        <%= f.input :min_booking_time, label: 'Toilet avalaible from :' %>
        <%= f.input :max_booking_time, label: 'Toilet avalaible until :' %>
        <%= f.input :image, label: 'Change the picture of your toilet', as: :file %>
        <%= f.button :submit, 'Update', class: "btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
