<h1>Create a new toilet</h1>

<%= simple_form_for [@user, @toilet] do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :image, as: :file %>
  <%= f.button :submit, class: "btn-primary" %>
 <% end %>

