<h1>Ici pour créer ta toilette</h1>

<%= simple_form_for [@user, @toilet] do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.button :submit, class: "btn-primary" %>
 <% end %>


<i class="fas fa-toilet"></i>
<i class="fas fa-toilet-paper-alt"></i>
<i class="fas fa-restroom"></i>
<i class="fas fa-toilet-paper-alt"></i>
