<div class="body">
  <div class="container toilet-page">
    <div class="left-infos">
      <h1 class="calendarBookingInfo"><%= @toilet.name %></h1>
      <h2 class="calendarBookingInfo"><%= @toilet.address %></h2>
      <div class="calendarBookingInfo">
        <%= @date %>
        <%= simple_form_for [@toilet, @booking] do |f| %>
          <%= f.input :date, collection:@available_periods_today, prompt: :translate, as: :select%>
          <%= f.button :submit, class: "btn btn-primary" %>
        <% end %>
      </div>
      <div
        class="calendarBookingInfo image"
        style="background-image: url('<%= cloudinary_url @toilet.image.key %>');"
      >
       <!--  <%= cl_image_tag @toilet.image.key %> -->
      </div>
    </div>

    <div class="whereCalendarIs">
      <div
        id="booking-settings"
        data-toilet-settings="<%= @toilet_settings.to_json %>"
        style="display:none;"
      >
      </div>

      <div
        id='calendar'
        data-toilet-id="<%= @toilet.id.to_s %>"
        data-booking="<%= (@toilet_calendar).to_json %>"
      >
      </div>
    </div>
  </div>
</div>

